
.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.bg-body-tertiary {
  background-color: rgba(248,249,250);
  margin: 10px;
  margin-left: 50px;
  padding: 5px;
}

.mt-4 {
    position: fixed; /* Keeps it in place while scrolling */
    top: 10px; /* Distance from the top */
    right: 10px; /* Distance from the right */
    /*width: 25%*/; /* Adjust width as needed */
    padding: 10px;
    background-color: rgba(248,249,250, 0.9); /* Semi-transparent background */
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensures it's above other content */
    /*font-family: Arial, sans-serif;*/ /* Default readable font */
}